html {
  scroll-behavior: smooth;
  font-family: montserratalt1;
  height: 100%;
  width: 100%;
  --1: white;
  --2: #884a61;
  --3: #f3ba7d;
  --4: #daa573;
  --5: #c19069;
  --6: #a87c60;
  --7: #01161C;
}

::selection{
 background-color: #48dbfb60;
  
}  
::-webkit-scrollbar{
  width: 10px;
  background-color: #f1f1f1;
} 
::-webkit-scrollbar-thumb{
  background-color: #2b2e36;
}

@font-face {
  font-family: montserratalt1;
  src: url(fonts/montserratalt1-regular.otf);
}

#body{
  /*background-color: #57C5B6;*/
  background-color: #40a598;
  margin-right: 12vw;
  margin-left: 12vw;
}

#nav{
  background: linear-gradient(135deg, var(--4) 0%, var(--6) 100%);
  margin: 0;
  text-decoration: none;
  list-style-image: none;
  width: 100%;
  color: var(--4);
}

#nav-ul{
  float: left;
  color: var(--4);
  text-decoration: none;
  list-style-image: none;
}

#nav-li{
  float: left;
  color: var(--4);
  padding-right: 1vw;
  text-decoration: none;
  list-style-image: none;
}

nav-a{
  text-decoration: none;
}

