html {
  scroll-behavior: smooth;
  font-family: montserratalt1;
  height: 100%;
  width: 100%;
  --1: white;
  --2: #884a61;
  --3: #f3ba7d;
  --4: #daa573;
  --5: #c19069;
  --6: #a87c60;
  --7: #01161C;
}

::selection{
 background-color: #48dbfb60;
  
}  
::-webkit-scrollbar{
  width: 10px;
  background-color: #f1f1f1;
} 
::-webkit-scrollbar-thumb{
  background-color: #2b2e36;
}

@font-face {
  font-family: montserratalt1;
  src: url(fonts/montserratalt1-regular.otf);
}

#body{
  /*background-color: #57C5B6;*/
  background-color: #40a598;
  margin-right: 12vw;
  margin-left: 12vw;
  font-family: montserratalt1;
}

#nav{
  background: linear-gradient(135deg, var(--4) 0%, var(--6) 100%);
  margin: 0;
  text-decoration: none;
  list-style-image: none;
  width: 100%;
  color: var(--4);
    position: fixed;
    background-color: transparent;
    width: 100%;
    top: 0;
    padding: 0 0 10px 0;
}

#nav-ul{
  float: left;
  color: var(--4);
  text-decoration: none;
  list-style-image: none;
}

#nav-li{
  float: left;
  color: var(--4);
  padding-right: 1vw;
  text-decoration: none;
  list-style-image: none;
}

p{
  margin-block-start: 0em;
  margin-block-end: 0em;
}

a{
  text-decoration: none;
  color: --var(--7);
}

a:link, a:visited {
  color: var(--7);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: .3s linear;
}

a:hover, a:active {
  color: var(--1);
  text-decoration: underline;
  transition: .3s linear;
}

#home{
  height: 95vh;
}
  
#ho-h{
  font-size: larger;
  font-family: montserratalt1;
}

#h1{
  text-align: center;
  background-color: var(--7);
  color: var(--4);
  font-family: montserratalt1;
  margin: 0px;
  padding-top: 10px;
}

h2{
  text-align: center;
  background-color: var(--7);
  color: var(--4);
  font-family: montserratalt1;
  margin: 0px;
  padding-top: 10px;
}

#img-div{
  float: left;
  width: 15%;
  margin: 0;
  padding: 5px 15px 5px 5px;
  background-color: lightblue;
}

#img{
  object-fit: cover;
  width: 70%;
  height: 70%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  row-gap: 10px;
  
  background-color: var(--7);
  padding: 10px;
}
.grid-item {
  background: linear-gradient(135deg, var(--3) 0%, var(--5) 100%);
  
  border: 3px;
  border-style: solid;
  border-color: --var(--2);

  padding: 0px 10px 0px 0px;
  margin: 0px;
  color: var(--2);
  text-align: center;
}