html {
  height: 100%;
  width: 100%;
  --1: white;
  --2: #884a61;
  --3: #f3ba7d;
  --4: #daa573;
  --5: #c19069;
  --6: #a87c60;
  --7: #01161C;
}

@font-face {
  font-family: montserratalt1;
  src: url(fonts/montserratalt1-regular.otf);
}

#body{
  background-color: #57C5B6;
  margin: 180px;
}

#ke-h1{
  text-align: center;
  background-color: var(--7);
  color: var(--4);
  font-family: montserratalt1;
  margin: 0px;
  padding-top: 10px;
}

#ke-img{
  width: 30px;
  height: 27.5px;
  object-fit: cover;
}

.ke-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--7);
  padding: 10px;
}
.ke-grid-item {
  background: linear-gradient(135deg, var(--3) 0%, var(--5) 100%);
  
  border: 3px;
  border-style: solid;
  border-color: --var(--2);

  padding: 10px;
  margin: 5px;
  color: var(--2);
  text-align: center;
}